*{
				    margin: 0;
				    padding: 0;
	
}

body {			    overflow: auto;
				    overflow-x: hidden;
                    border: 0px;
				    margin: 0px;
				    padding: 0px;
}

h1 {                margin-top: 20px;
                    margin-left: 20px;
                    margin-right: 20px;
                    padding-left: 15px;
                    padding-top: 30px;
                    padding-bottom: 90px;
                    font-family: futura, sans-serif;
                    font-size: 3em;
                    background-color: rgb(193, 224, 87);
}

h2 {                
                    font-family: futura, sans-serif;
                    font-size: 2em;
                    margin-top: 110px;
                    margin-left: 380px;
                    margin-right: 20px;
                    padding: 25px 25px 25px 65px;
                    background-color: rgb(223, 215, 88);
}

header h5{          font-family:futura, sans-serif;
                    font-size: 1.5em;
                    margin-left: 20px;
                    margin-top: -90px;
                    margin-bottom: 80px;
                    padding-left: 15px;
}

nav {               margin: auto;
                    margin-right: 20px;
                    line-height: 20px;
                    height: 20px;
                    font-family: futura, sans-serif;
                    font-size: 1.4em;
                    color: rgb(0, 0, 0);
                    width: 100%;
				    float: left;
				    list-style: none;
                    background-color: rgb(255, 255, 255);
}

nav ul {            font-family: futura, sans-serif;
				    width: 100%;
                    display: -moz-inline-block;
                    list-style-type: none;
                    margin: 0px;
                    padding: 0;
}

nav ul li {         display: inline;}

nav ul li a {       font-weight: bold;
                    text-decoration: none; 
				    color: rgb(0, 0, 0);
				    display: inline-block;
				    padding: 0px; 0px;
				    width: 17%;
				    text-align: center;
}
    
    
p {                 margin-left: 460px;
                    margin-right: 188px;
                    padding: 5px;
                    font-family: futura, san-serif;
                    font-size: 1.1em;
}

.sidemenu {         margin-left: 20px;
                    margin-top: -455px;
                    font-family: futura, sans-serif;
                    font-size: 1.4em;
                    /*color: rgb(255, 255, 255);*/
                    width: 23%;
				    float: left;
				    list-style-type: none;
                    background-color: rgb(87, 223, 221);
}

.sidemenu ul {      margin: 0px;
                    padding-top: 0px;
                    display: inline;
                    list-style-type: none;
                    height: 20px;
                    width: 100%;
				    text-align: left;
}

.sidemenu ul li {   margin: 15px 70px;
                    list-style-type: none;
}

.sidemenu ul a{     text-decoration: none;
                    color: rgb(255, 255, 255);
                   
}

.blue {             margin-left: 20px;
                    margin-top: -150px;
                    position:absolute;
                    width: 330px;
                    height: 220px;
                    background-color: rgb(87, 190, 223);}

footer {            
                    margin-left: 380px;
                    margin-right: 20px;
                    margin-top: 29px;
                    height: 41px;
				    text-align: right;
				    background-color: rgb(174, 177, 175);
}

footer img {        width: 3%;
                    margin-left: 10px;
                    margin-top: 9px;
                    padding-right: 20px;
				    background-color: rgb(174, 177, 175);
}